html {
	font-size: 10px;
}

body {
	font-family: 'Roboto Mono', monospace;
	color: var(--primary-color);
}

.slideshow {
	background-color: var(--secondary-color);
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 0.5fr 6fr 0.5fr 4fr;
	align-items: center;
}

/****************/
/* Images  */
/****************/
.slideshow__images {
	max-height: 90vh;
	width: 60vw;
	display: flex;
	align-items: center;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

.slideshow__images::-webkit-scrollbar  {
	display: none;
}

.slideshow__image {
	scroll-snap-align: start;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60vw;
	height: 90vh;
	padding: 1rem;
} 

.slideshow__image img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
} 

/****************/
/* Arrow Buttons  */
/****************/
.slideshow__button-right, 
.slideshow__button-left {
	width: 5rem;
	margin: 1rem;
	justify-self: center;
	transition: transform 0.1s;
} 

.slideshow__button--hidden {
	opacity: 0;
	pointer-events: none;
} 

.slideshow__button-right:active, 
.slideshow__button-left:active {
	transform: scale(0.9);
}

.slideshow__button-right img, 
.slideshow__button-left img {
	width: 100%;
	height: auto;
}

/****************/
/* Text */
/****************/
.slideshow__text{
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	font-size: 4rem;
	color: var(--secondary-color);
	writing-mode: vertical-lr;
	text-orientation: upright;
	background: linear-gradient(to right, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 70%);
	word-break: unset;
	width: 100%;
	padding: 1rem 0;
	text-transform: uppercase;
}

.slideshow__text-copy {
	width: 100%;
	font-size: 10rem;
	height: 90vh;
	padding: 0 4rem;
	word-break: break-all;
	font-weight: 600;
	text-transform: uppercase;
}

/****************/
/* Buttons Below */
/****************/
.slideshow__buttons {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
}

.slideshow__button {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: solid 1px var(--primary-color);
	cursor: pointer;
	transition: all .3s;
	transform: scale(0.9);
}

.slideshow__button--active {
	background-color: var(--primary-color);
	transform: scale(1.2);
}

@media screen and (max-width: 1500px) {
	.slideshow__text-copy {
		font-size: 8rem;
	}
	
}

@media screen and (max-width: 1100px) {
	.slideshow__text-copy {
		font-size: 6rem;
	}
	
}

@media screen and (max-width: 900px) {

	.slideshow {
		grid-template-columns: 1fr;
	}

	.slideshow__images {
		display: flex;
		flex-direction: column;
		height: unset;
		gap: 2rem;
		margin: 2rem 1rem;
	}

	.slideshow__image {
		max-width: 100%;
		visibility: visible;
		position: relative;
	} 

	.slideshow__button-right, 
	.slideshow__button-left {
		display: none;
	} 

	.slideshow__buttons {
		display: none;
	}
	
	.slideshow__text {
		display: block;
	}
	.slideshow__text-copy {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.slideshow__text {
		font-size: 3.5rem;
	}
}

@media screen and (max-width: 400px) {
	.slideshow__text {
		font-size: 3rem;
	}
}